doctype html
html
  head
    style.
      div.container {
      width: 100%;
      border: 1px solid gray;
      }
      header, footer {
      padding: 1em;
      color: white;
      background-color: rgb(99, 26, 144);
      color:#000000;
      clear: left;
      text-align: left;
      }
      article {
      border-left: 1px solid gray;
      padding: 1em;
      overflow: hidden;
      color:#000000;
      }
  body
    .container
      header
        h3
          img(src='http://localhost:3000/images/logo.png', ,='', alt='thecut_logo', width='54', height='40', border='0')
      article
        p Before we get started …
        p Please take a moment to make sure we have got your email address right.
        a(href='#', style='text-align:center;') Please Confirm your Email address
        p Unsubscribe from this email
      footer
        | Have any questions? Just shoot us an email! 
        a(href='#') info@peersview.com
        |  We are always here to help.
