hi.heading Hello #{name}!,

p.text This is an invitation from the Academic institution name to join their Online Campus on Peersview.
p.text
span.simpletext If you would like to accept this invitation,then click.
div.confirm( style={ 'text-align' :'left'})
a(href="#",  style={'background-color':'#4285f4'}) Join the Online Campus

div.campus
p.text If you do not wish to join this community then you can ignore this email.

div.contact If you think you have been sent this invitation in error or wish to discuss this in detail, please contact admin@peersview.com.

div.footer
p.txt The Peersview Team.

p.unsubscribe Unsubscribe from this email
