doctype html
html
  head
    style.
      div.container {
      width: 100%;
      border: 1px solid gray;
      }
      header, footer {
      padding: 1em;
      color: white;
      background-color: #631a90;
      clear: left;
      text-align: left;
      }
      article {
      border-left: 1px solid gray;
      padding: 1em;
      overflow: hidden;
      color:#000000;
      }
  body
    .container
      header
        h3
          img(src='http://localhost:3000/images/logo.png', alt='thecut_logo', width='54', height='40', border='0')
      article
        h1
        p Hello #{reciever_name}
        p This is an invitation from #{name} to join peersview.com.
        p Peersview.com is a social networking platform for students.
        a(href='#', style='cursor:pointer') Join the Online Campus
        p
          | If you would like to accept this invitation then you can register on the site at
          a(href='#') [peersview.com/sign-up]
          | .
        p
          | Peersview is very easy to use, you can also check the Help Center,
          a(href='#')  [peersview.com/support]
          | . The most common problems and questions of first time users are addressed and answered.
        p If you do not wish to join this site, then you can ignore this email.
        p
          | If you think you have been sent this invitation in error or wish to discuss this in detail, please contact
          a(href='#') contact@peersview.com
          | .
        p The Peersview Team
        p Unsubscribe from this email
      footer
        | Have any questions? Just shoot us an email! 
        a(href='#', style='cursor:pointer;color:black') info@peersview.com
        |  we’re always here to help.
